@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #f5f5f5;
}

.nav-item a {
    color: #234CAD;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;

}

.bt {
    box-sizing: border-box;
    border: 1px solid #234CAD;
    border-radius: 25px;
    color: #234CAD;
    width: 135px;
    height: 50px;
}

.bn {
    width: 135px;
    height: 50px;
    border-radius: 25px;
    background: #F2F6FF;
    color: #234CAD;
    border: 1px solid #fefeff;

}



.list {
    color: #234CAD;
    border: 24px;
}

.post {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #234CAD;
}


.test {
    background-color: #F2F6FF;
    border-radius: 60px;
}

.main {
    color: #234CAD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 0px;
    line-height: 26px;
    margin-top: -20px;
    margin-left: 1%;
}

.get {
    margin-top: 55px;
    box-sizing: border-box;
    border: 1px solid #234CAD;
    border-radius: 25px;
    color: #234CAD;
    width: 135px;
    height: 50px;
}

.kotak {
    margin-left: 100px;
    width: 75px;
    height: 75px;
    margin-left: 500px;
}







@media only screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }
}

.img {
    width: 45%;
    margin-left: 27%;
}

.login-box {
    border-radius: 12px;
    background-color: purple;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 50px auto;
    min-height: 700px;
    -webkit-box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 60px -5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-family: "Script MT";
    font-size: 54px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.logo .logo-font {
    color: #3BC3FF;
}

@media only screen and (max-width: 767px) {
    .logo {
        font-size: 34px;
    }
}

.header-title {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.text-center {
    color: white;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form .form-control {
    border-radius: 12px;
    margin-bottom: 30px;
}

.login-form .form-group {
    position: relative;
}

.login-form .form-group .forgot-password {
    position: absolute;
    top: 6px;
    right: 15px;
}

.login-form .btn {
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    color: black;
}


.login-form .btn.btn-primary {
    background: #3BC3FF;
    border-color: #31c0ff;
}

.slider-feature-card {
    background: #fff;
    max-width: 280px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.slider-feature-card img {
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.slider-feature-card h3,
.slider-feature-card p {
    margin-bottom: 30px;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    cursor: pointer;
}


.card-img-left {
    width: 45%;
    background: scroll center url('../img/4338262_2249233.jpg');
    background-size: cover;
    background-color: purple;
}

.req {
    text-align: center;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.link {
    text-align: center;
}

.fab {
    font-size: 15px;
}




.card {
    background-color: white;
    width: 350px;
    height: 100px;
    border-radius: 20px;
    margin-left: 499px;
    margin-top: -450px;
    border: white;
}

.card-1 {
    background-color: #F2F6FF;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
}

.fa {
    margin-top: 17px;
    background-color: #F2F6FF;
    margin-left: 14px;
    color: #234CAD;
}

.text-content {
    font-family: 'Nunito';
    font-size: 16px;
    color: #234CAD;
    margin-top: -79px;
    margin-left: 40px;
    line-height: 95px;
}

.kartu {
    color: #F2F6FF;
    margin-left: 250px;
    margin-top: 3px;
}

.icons-2 {
    margin-top: 29px;
    margin-left: 14px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.text-2 {
    font-family: 'Nunito';
    color: #234CAD;
    font-weight: bold;
    margin-top: -59px;
    margin-left: 90px;
    line-height: 2px;
    font-style: normal;
}

.massage {
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}

.kartu-1 {
    width: 75px;
    height: 75px;
    margin-left: -15px;
    margin-right: 10px;
    margin-top: -330px;
}

.icons-3 {
    width: 25px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    color: #234CAD;
}

.icons-2 {
    margin-top: 29px;
    margin-left: 14px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.text-2 {
    font-family: 'Nunito';
    color: #234CAD;
    font-weight: bold;
    margin-top: -59px;
    margin-left: 90px;
    line-height: 2px;
    font-style: normal;
}

.kartuu {
    width: 249px;
    height: 160px;
    color: #F2F6FF;
    margin-left: -13px;
    margin-top: 155px;
}

.icons-21 {
    margin-top: 29px;
    margin-left: 15px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid #234CAD;
}

.text-21 {
    font-family: 'Nunito';
    color: #234CAD;
    font-weight: bold;
    margin-top: -59px;
    margin-left: 75px;
    line-height: 2px;
    font-style: normal;
}

.massagee {
    font-size: 13px;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 5px;
}

.icons-212 {
    margin-top: 20px;
    margin-left: 15px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #234CAD;
    font-weight: bold;
    border: 3px solid white;
}

.jm {
    margin-left: 14px;
    margin-top: 13px;
}

.icons-213 {
    margin-top: -50px;
    margin-left: 55px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #234CAD;
    font-weight: bold;
    border: 3px solid white;
}

.ac {
    margin-left: 14px;
    margin-top: 13px;
}

.icons-214 {
    margin-top: -50px;
    margin-left: 96px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #234CAD;
    font-weight: bold;
    border: 3px solid white;
}

.kd {
    margin-left: 14px;
    margin-top: 13px;
}

.icons-215 {
    margin-top: -50px;
    margin-left: 139px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    color: #234CAD;
    font-weight: bold;
    border: 3px solid white;
}

.plus {
    margin-left: 14px;
    margin-top: 13px;
}

.kartuuu {
    width: 350px;
    height: 100px;
    color: #F2F6FF;
    margin-left: -13px;
    margin-top: 15px;
}

.icons-216 {
    margin-top: 29px;
    margin-left: 15px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.js {
    color: #234CAD;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 13px;
}

.jh {
    font-family: 'Nunito';
    font-style: normal;
    color: #234CAD;
    font-weight: bold;
    margin-left: 80px;
    margin-top: -32px;
    line-height: 20px;
}

.mase {
    color: #234CAD;
    font-size: 12px;
    margin-left: 80px;
    margin-top: -10px;
}

.tm {
    color: #234CAD;
    font-size: 10px;
    margin-left: 280px;
    margin-top: -50px;
}

.kartuuuu {
    width: 75px;
    height: 75px;
    color: #F2F6FF;
    margin-left: 355px;
    margin-top: -50px;
}

.icons-217 {
    margin-top: 15px;
    margin-left: 15px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.kartuuuuu {
    margin-top: -190px;
    margin-left: 383px;
}

.icons-218 {
    margin-top: 25px;
    margin-left: 15px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.ya {
    margin-left: 18px;
    margin-top: 17px;
}

.msg {
    font-weight: 700;
    font-size: 16px;
    color: #234CAD;
    margin-left: 80px;
    margin-top: -50px;
}

.psn {
    color: #234CAD;
    font-size: 12px;
    font-weight: 400;
    margin-left: 80px;
}

.kartuuuuuu {
    width: 130px;
    height: 160px;
    margin-left: 370px;
    margin-top: -390px;
}

.icons-219 {
    margin-top: 30px;
    margin-left: 40px;
    background-color: #F2F6FF;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid #234CAD;
}

.dta {
    color: #234CAD;
    font-size: 10px;
    font-weight: 400;
    margin-left: 35px;
    margin-top: 30px;
}