.container .card {
    width: 320px;
    height: 340px;
    margin-top: 40px;
    border-radius: 10%;
    
}

.container .card:hover {
    border: 2px solid blue;
}
.card-body button {
    width: 274px;
    height: 60px;
    margin-top: 65px;
   border-radius: 60px;
}


.email-box .input-group .btn-news {
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #234CAD;
}

 .input-group .btn-news i {
    color: white;
    width: 19px;
    height: 20px;
}

.email-box {
    height: 383px;
    background-color: #F2F6FF;
    border-radius: 40px;
}
.email-box .sub-heading span {
    margin-top: 20px;
}

.email-box .input-group  input{
    margin-top: 50px;
    margin-bottom: 40px;
}

.card.Card-pertama {
    background-color: #F2F6FF;
}

.card.Card-kedua {
    background-color: #FFFFFF;
}

.card.Card-ketiga {
    background-color: #F2F6FF;
}

.card .card-title {
    font-weight: 400;
    color: #234CAD;
}

.card .h2 {
    font-weight: 700;
    font-size: 56px;
    color: #234CAD;
}

.card .btn-cardpertama {
    font-weight: 700;
    color: #234CAD;
}

.card .btn-cardkedua {
    font-weight: 700;
    color: #234CAD;
}

.card .btn-cardketiga {
    font-weight: 700;
    color: #234CAD;
}

.card .btn-cardkedua {
    border: 3px solid #234CAD;
}

.card .btn-cardpertama:hover {
    border: 3px solid #234CAD;
}

.card .btn-cardketiga:hover {
    border: 3px solid #234CAD;
}

.card .month {
    color: #234CAD;
}

.sub-heading h2 {
    color: #234CAD;
}

.sub-heading span {
    color: #234CAD;
}

.text-uppercase {
    color: #234CAD;
    font-weight: 700;
}

.list-unstyled .text-next {
    color: #234CAD;
    font-weight: 400; 
    text-decoration: none;
}